.customer-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px
}

.customer-container button {
    // margin-bottom: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        transition: 0.5s;
        background-color: #0056b3;
        padding: 10px 18px;
    }
}

.customer-container button:hover {
    background-color: #0056b3;
}

.customer-container .list-container {
    margin-top: 20px;
}
        // Add styling for login button

.imgs {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}

.im {
    width: 30%;
    border-radius: 10px;
}
